<?xml version="1.0" encoding="utf-8" ?>

<!--حتما این فایل رو راست کلیک و پراپرتی بگیرین و تنظیم زیر رو انجام بدین تا در فایل بین پروژه همیشه اضافه شود-->
<!--Copy To OutPut Directory=Copy always-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="H:\temp\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--<add assembly="NLog.Targets.Sentry" />   => این تارگت نیاز به پراکسی دارد چون سایت sentry.io مارو تحریم کرده--> 
  </extensions>
  
  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->
  
  <!-- the targets to write to -->
  <targets async="true">
    <!--<target xsi:type="Sentry" name="Sentry" dsn="https://aad9c79b4c954afd8238fd7e017f058c:7a74955f0b0e4c5a87b5a6c132c1f7f0@sentry.io/1533781"/>-->
    
    
    
    <target xsi:type="File" name="LogFile" fileName="H:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>
    <target name="database" xsi:type="Database">
      <connectionString>Data Source = .;Initial Catalog = MyApiDb-Logging;Integrated Security = true</connectionString>
      <!--
  Script for creating the dbo.Log table.
      
  SET ANSI_NULLS ON
  SET QUOTED_IDENTIFIER ON
  CREATE TABLE [dbo].[NLog] (
	  [Id] [int] IDENTITY(1,1) NOT NULL,
	  [MachineName] [nvarchar](50) NOT NULL,
	  [Logged] [datetime] NOT NULL,
	  [Level] [nvarchar](50) NOT NULL,
	  [Message] [nvarchar](max) NOT NULL,
	  [Logger] [nvarchar](250) NULL,
	  [Callsite] [nvarchar](max) NULL,
	  [Exception] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
      WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
  ) ON [PRIMARY]
  -->

      <commandText>
        insert into dbo.NLog (
        MachineName, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @MachineName, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <!--<logger name="*" minLevel="Error" writeTo="Sentry"/>-->
    <logger name="*" minLevel="Warn" writeTo="database"/>
  </rules>
</nlog>